h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
  font-family: sans-Serif;
  font-weight: 700;
}

main {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

#add-player {
  background-color: rgb(185, 185, 185);
  padding: 20px 0;
  height: 300px;
  max-width: 200px;
}

#add-player div {
  /* background-color: black; */
  width: 200px;
  height: 250px;
}

input {
  margin: 5px;
}

button {
  padding: 5px 25px;
  background-color: rgb(99, 209, 99);
  border-radius: 5px;
  margin: 5px;
}

article {
  background-color: rgb(200, 36, 36);
  color: white;
  border: 3px solid black;
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 2px;
  text-align: center;
  overflow: hidden;
}
#selected {
  max-height: 300px;
  max-width: 200px;
  margin: 20px;
}

article img {
  position: relative;
  bottom: 0;
  max-height: 250px;
  min-width: 200px;
  min-height: 250px;
}

article h2 {
  position: relative;
  top: 0;
  margin: 10px;
}
